.Input {
    border: 1px solid var(--secondary-yellow);
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    color: var(--primary-white);
}

.Input:focus {
    border: 1px solid var(--secondary-green);
}