.ListNone {
    display: none;
}

.ListFlex {
    position: absolute;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 170px;
    background-color: var(--secondary-black);
    z-index: 2;
}

.Item {
    padding: 10px 15px;
}

.Text {
    font-size: 15px;
    transition: color .3s ease;
}

.Text:hover {
    color: var(--secondary-yellow);
}