.Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 70px)
}

.Inner {
    background-color: var(--secondary-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
}

.WrapperBot {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.Title {
    margin-bottom: 10px;
}